version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/PostalRegistry.Api.CrabImport"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/PostalRegistry.Api.Extract"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/PostalRegistry.Api.Legacy"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/PostalRegistry.Projections.Syndication"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/PostalRegistry.Projector"
  schedule:
    interval: daily
