framework: net5.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Http.Polly 5.0.1

nuget Microsoft.SyndicationFeed.ReaderWriter 1.0.2

nuget HtmlAgilityPack 1.11.33

nuget CsvHelper 27.1.0

nuget NetTopologySuite 2.2.0
nuget Dapper 2.0.90

// For more healtchecks, look at https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks
nuget AspNetCore.HealthChecks.SqlServer 5.0.3

nuget Microsoft.EntityFrameworkCore.Design 5.0.6

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 5.0.4
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 2.3.4 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 5.2.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 5.2.1

nuget Be.Vlaanderen.Basisregisters.Api 15.5.3

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 2.4.0

nuget Be.Vlaanderen.Basisregisters.CommandHandling 5.2.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 5.2.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 5.2.1

nuget Be.Vlaanderen.Basisregisters.EventHandling 3.1.1
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 3.1.1

nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 9.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore 9.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac 9.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 9.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing 9.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication 9.0.0

nuget Be.Vlaanderen.Basisregisters.Projector 11.1.0

nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Autofac 4.5.7
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Sql 4.5.7
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.SqlStreamStore 4.5.7

nuget Be.Vlaanderen.Basisregisters.Crab 2.2.7

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 16.8.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Import 16.8.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 16.8.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 16.8.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Extracts 16.8.2

nuget Be.Vlaanderen.Basisregisters.Shaperon 8.1.3

// DOCS STUFF
nuget Structurizr.Core 0.9.7
nuget Structurizr.Client 0.9.7
nuget Structurizr.AdrTools 0.9.3

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.10.0
nuget Microsoft.EntityFrameworkCore.InMemory 5.0.6
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget xunit.categories 2.0.4
nuget AutoFixture 4.17.0
nuget FluentAssertions 5.10.3

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
