framework: net8.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Http.Polly 8.0.3

nuget Microsoft.SyndicationFeed.ReaderWriter 1.0.2

nuget HtmlAgilityPack 1.11.59

nuget CsvHelper 31.0.2

nuget Datadog.Trace.Bundle 2.49.0

nuget NetTopologySuite 2.5.0
nuget Dapper 2.1.35
nuget NodaTime 3.1.11
nuget Destructurama.JsonNet 3.0.0

// For more healtchecks, look at https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks
nuget AspNetCore.HealthChecks.SqlServer 8.0.0
nuget AspNetCore.HealthChecks.NpgSql 8.0.0

nuget Npgsql 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL.Design 2.0.0-preview1

nuget Microsoft.EntityFrameworkCore.Design 8.0.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.5
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 4.0.0 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 9.0.1

nuget Be.Vlaanderen.Basisregisters.Api 23.0.0

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 4.0.1

nuget Be.Vlaanderen.Basisregisters.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 9.0.1

nuget Be.Vlaanderen.Basisregisters.EventHandling 5.0.0
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 5.0.0

nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner.SqlServer 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner.Npgsql 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Testing.Xunit 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication 14.0.0

nuget Be.Vlaanderen.Basisregisters.Projector 15.0.0

nuget Be.Vlaanderen.Basisregisters.Crab 4.0.0

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Contracts 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Import 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Oslo 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 21.0.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Extracts 21.0.0

nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Producer 5.0.1

nuget Be.Vlaanderen.Basisregisters.Shaperon 10.0.2

// DOCS STUFF
nuget Structurizr.Core 0.9.7
nuget Structurizr.Client 0.9.7
nuget Structurizr.AdrTools 0.9.3

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget Microsoft.EntityFrameworkCore.InMemory 8.0.3
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget AutoFixture 4.18.1
nuget FluentAssertions 6.12.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
